<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url('{{ url_for('static', filename='images/background.jpg') }}');
        }
    </style>
</head>
<body>
    
    <div class="center-container">
        <form method="POST" action="/results">
            <h2 >Find Your Restaurant</h2><br>
            <label>Country Code:</label>
            <select name="country" id="country">
                {% for c in countries %}
                <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>

            <label>City:</label>
            <select name="city" id="city"></select>

            <label>Cuisine:</label>
            <select name="cuisine" id="cuisine"></select>

            <input type="submit" value="Find Restaurants">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#country').change(function () {
            $.post('/get_cities', { country: $(this).val() }, function (data) {
                $('#city').empty();
                data.cities.forEach(function (city) {
                    $('#city').append(new Option(city, city));
                });
                $('#city').trigger('change');
            });
        });

        $('#city').change(function () {
            $.post('/get_cuisines', { city: $(this).val() }, function (data) {
                $('#cuisine').empty();
                data.cuisines.forEach(function (c) {
                    $('#cuisine').append(new Option(c, c));
                });
            });
        });

        $(document).ready(function () {
            $('#country').trigger('change');
        });
    </script>
</body>
</html>
